@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap');

.container {
  background-color: #A4161A;
  color: #FFFFFF;
  position: relative;
  text-align: center;
  overflow: hidden;
  justify-content: space-evenly;
}


.img h1 {
  font-size: xx-large;
  font-family: 'PT Sans', sans-serif;
  position: absolute;
  top: 20%;
  left: 45%;
}

.main1 {
  display: grid;
  grid-template-columns: 60% 40%;
  margin-top: 2%; 
}

.main2 {
  display: grid;
  grid-template-columns: 60% 40%;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: #FFFFFF;
  align-items: flex-start;
  margin-right: 10%;
  text-align: start;
}

.right h1 {
  font-size: x-large;
}

.left {
  width: max-content;
  margin:0;
  display:inline-block;
  padding:10px;
  box-sizing:border-box;
  clip-path: polygon(0 0, 100% 0%, 70% 100%, 0% 100%);
}
