$X: 70deg;
$color: white;
$speed: 1s;

.mainbody {
  background: linear-gradient(
    to bottom,
    #a4161a,
    #8b1c16,
    #741f14,
    #5d1e12,
    #471c11
  );
  height: 100vh;
}

.figure {
  width: 150px;
  height: 150px;
  transform: translate(-50%, -65%);
  margin: 0;
  position: absolute;
  left: 50%;
  top: 50%;
}
.loadingstyle {
  width: 100%;
  height: 100%;
  position: absolute;
}
.loadingstyle:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-top: 25px solid $color;
  border-right: 5px solid $color;
  border-bottom: 10px solid transparent;
  border-left: 0px solid transparent;
  border-radius: 50%;
}

.loadingstyle:nth-child(1):after {
  animation: ring $speed linear infinite;
  transform: rotateX($X) rotateY(0deg) rotate(0deg);
}
.loadingstyle:nth-child(2):after {
  animation: ring2 $speed linear infinite;
  animation-delay: ($speed/-2);
  transform: rotateX($X) rotateY(60deg) rotate(0deg);
}
.loadingstyle:nth-child(3):after {
  animation: ring3 $speed linear infinite;
  animation-delay: ($speed/-3);
  transform: rotateX($X) rotateY(-60deg) rotate(0deg);
}

@keyframes ring {
  100% {
    transform: rotateX($X) rotateY(0deg) rotate(360deg);
  }
}
@keyframes ring2 {
  100% {
    transform: rotateX($X) rotateY(60deg) rotate(360deg);
  }
}
@keyframes ring3 {
  100% {
    transform: rotateX($X) rotateY(-60deg) rotate(360deg);
  }
}
