* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.s-gallery-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
}

.society-name {
  width: 100%;
  height: 23vh;
  background-color: black;
  z-index: 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: black 10px 10px 10px;
}

.s-name {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 7vw;
  font-weight: 600;
}

@media only screen and (max-width: 643px) {
  .s-name {
    font-size: 10vw;
  }
}

.society-gallery-container {
  height: 78vh;
  width: 100%;
  background-image: linear-gradient(black 50%, white 60%);
  overflow: scroll;
  overflow-x: hidden;
  overflow: scroll;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  /* animation: carousel 15s infinite linear; */
  animation-play-state: running;
}

@keyframes carousel {
  0% {
    transform: translateY(-0);
  }

  100% {
    transform: translateY(-85%);
  }
}

.container .box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 2vw;
}

.container .box .dream {
  display: flex;
  flex-direction: column;
  width: 24vw;
  height: auto;
  align-items: center;
}

.container .box .dream img {
  width: 95%;
  padding-top: 15px;
}

.cate img:hover {
  transform: scale(1.05);
  transition: 0.5s ease;
  cursor: pointer;
  animation-play-state: paused;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* .end-line {
    background-color: black;
    height: 15vh;
    box-shadow: -10px -10px 18px black;
    z-index: 99999;
} */

.navdiv {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1rem;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
  /* background-color: rgb(225, 8, 8); */
  background-color: #BA181B;
  height: 10vh;
}

.visible {
  /* background-color: rgba(203,220,203,0.99); */
  background-color: rgba(254, 254, 254, 0.97);
  height: 90vh;
  width: 100%;
  position: fixed;
  top: 10vh;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease-in-out;
}

.ul-list {
  margin-top: -5rem;
  font-size: 1.6rem;
  font-weight: 500;
}

li {
  padding: 0.5rem;
}

.hide {
  display: none;
  background-color: rgba(254, 254, 254, 0.97);
  height: 90vh;
  width: 100%;
  position: fixed;
  top: -90vh;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease-in-out;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 18px;
  width: 23px;
  cursor: pointer;
  color: white;
  margin-bottom: 18px;
}

.line {
  width: 100%;
  height: 3px;
  background-color: white;
  transition: all 0.3s ease-in-out;
}

.line.open:first-child {
  transform: rotate(45deg) translate(5px, 5px);
}

.line.open:nth-child(2) {
  opacity: 0;
}

.line.open:last-child {
  transform: rotate(-45deg) translate(5px, -5px);
}


.parallax-card{
  font-size: 1.4rem;
}
/* @media only screen and (max-width: 600px) {
  
    .society-card {
      grid-template-columns: auto auto;
    }
} */

@media only screen and (min-width: 600px) {
  
 
}


@media only screen and (max-width: 900px) {


  

    .web-hide {
      display: none;
    }

}

@media only screen and (max-width: 800px) {



.society-card {
    grid-template-columns: 80vw;
    column-gap: 7vw;
    margin:auto
  }
 

}




@media only screen and (min-width: 900px) {
.mobile-hide {
    display: none;
  }

}


@media only screen and (max-width: 300px) {
  .parallax-card{
    font-size: 1.1rem;
  }

}

.grid-container {
  display: grid;
  grid-template-columns: 40vw 40vw;
  column-gap: 6vw;
  row-gap: 5vw;
  place-content: center;
}



/* .background-image-event{
background-color: #ffffff; */
/* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0'%3E%3Cstop offset='0' stop-color='%230FF'/%3E%3Cstop offset='1' stop-color='%23CF6'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23F00'/%3E%3Cstop offset='1' stop-color='%23FC0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='2'%3E%3Cpath transform='translate(0 0)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='4' transform='rotate(0 800 450)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(0 0)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='4'%3E%3Cpath transform='translate(0 0)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='8' transform='rotate(0 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='rotate(0 1400 132)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); */
/* background-attachment: fixed;
background-size: cover;
background-image: url('../public/back.svg');

} */